body {
    font-family: Arial, sans-serif;
    background-color: #1ebbc081;
    padding: 20px;
    color: #333;
}
h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #555;
}
main {
    max-width: 500px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select, button {
    padding: 10px;
    font-size: 1rem;
}

button {
    background-color: #008cba;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005f6a;
}

#resultado {
    margin-top: 20px;
}